<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>

    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">


</head>

<body class="vote-body">

    <!-- Heading -->
    <div class="container-fluid trans ">
        <h3 class="vote-head"><i class="fab fa-dyalog"></i><i class="fab fa-vuejs vote-icon"></i> DeployVotes</h3>
        <div class=" vote-headbox text-center ">
            <div class="vote-box gra-img">
                <h1 class="welcome-msg">Welcome
                    <%=DisName%>, Have a great day!</h1>
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <h2 class="sts-msg voteMsgRt ">Ends on -
                            <%= endDate%>
                        </h2>
                        <h2 class="sts-msg voteMsgRt"> 09:00 AM-06:00 PM</h2>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <h2 class="sts-msg voteMsgLt">Enrollment Status :
                            <% if(Ests == undefined){ %>
                                Not Done
                                <% }else{ %>
                                    <%=Ests%>
                                        <% } %>
                        </h2>
                        <h2 class="sts-msg voteMsgLt">Voting Status :
                            <% if(Ests == undefined){ %>
                                Not Done
                                <% }else{ %>
                                    <%=Vsts%>
                                        <% } %>

                        </h2>
                    </div>
                </div>
                <div class="vote-return">
                    <a href="/">
                        <button type="button" class="btn btn-lg btn-outline-light">Return Home <i class="fas fa-angle-double-right"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <h1 class="voting-title"> Vote Your Candidate</h1>

        <div class="border border-dark voting-iconDiv">
            <div class="row text-center">
                <!-- start -->
                <% partySymbol.forEach((e)=>{ %>
                    <div class="col-lg-4 col-md-4 symbol-inp-div">
                        <% if(e.symbol == "fa-angellist"){ %>
                            <i class="fab <%=e.symbol%> fa-10x vote-IC"></i>
                            <% }else{ %>
                                <i class="fas <%=e.symbol%> fa-10x vote-IC"></i>
                                <%}%>
                                    <h2 class="vote-partyName">
                                        <%=e.partName%>
                                    </h2>
                                    <% if(Ests == undefined){ %>
                                        <button type="button" class="btn btn-primary btn-lg vote-btn" disabled>VOTE</button>
                                        <% }else{%>
                                            <button type="button" class="btn btn-primary btn-lg vote-btn">VOTE</button>
                                            <% } %>
                    </div>

                    <% }) %>


                        <!-- end -->

            </div>
        </div>
    </div>


    <!-- footer-section -->
    <section id="footer-section ">
        <footer>
            <p class="cpy-footer "> <i class="far fa-copyright "></i> 2021 Sowbhakian
            </p>
        </footer>
    </section>

    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="animation.js"></script>

</body>

</html>